@{
  Layout = "_Layout";
}

  <body>
    <h1>ALCHEMY SALON</h1>

    <h2>Edit Stylist: <strong>@Model.StylistName</strong></h2>

    <form id="newStylist" action="/stylists/@Model.Id" method="post">

      <label for="newStylistName">Enter name change:</label><br>
      <input type="text" name="newStylistName" value="@Model.StylistName">

      <button type="submit">Make Change</button>
    </form>

    <h4><a href="/stylists/@Model.Id">Return to previous page</a></h4>
  </body>
</html>
