@{
  Layout = "_Layout";
}

<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Curl Up and Dye Salon</title>
  </head>

  <body>
    <h1>Add a New Stylist</h1>
    <p>You can add the name of your stylist below; you will be able to add there individual clients after.</p>

    <form action="/stylists" method="post">

      <label for="stylistName">Stylist's Name</label>
      <input id="stylistName" name="stylistName" type="text">

      <button type="submit">Add</button>
    </form>

    <p><a href="/">Back to Home Page</a></p>
    <p><a href="/categories">Back to List of Stylists</a></p>
  </body>
</html>
