@{
  Layout = "_Layout";
}

  <body>
    <h1>ALCHEMY SALON</h1>
    <h2>Enter name of new stylist. You will be able to assign clients to them after.</h2>

    <form id="newStylist" action="/stylists" method="post">

      <label for="stylistName">Stylist's Name</label>
      <input id="stylistName" name="stylistName" type="text">

      <button type="submit">Add</button>
    </form>

    <h4><a class="bluelink" href='/stylists'>Back to List of Stylists</a></h4>
  </body>
</html>
