<h3>Here are the Clients belonging to this Stylist:</h3>

<ol>
@foreach (var client in @Model["clients"])
{
  <li><a href='/stylists/@Model["stylist"].Id/clients/@client.Id'>@client.ClientName</a></li>
}
</ol>

<p><a href='/stylists/@Model["stylist"].Id/clients/new'>Add a new client here.</a></p>
<p><a href='/stylists'>Return to the List of Stylists</a></p>
<p><a href='/'>Return to the Home Page</a></p>
