@{
  Layout = "_Layout";
}

  <body><h3>Here are the Clients belonging to this Stylist:</h3>
    <div id="list">
      <ol>
      @foreach (var client in @Model["clients"])
      {
        <li><a href='/stylists/@Model["stylist"].Id/clients/@client.Id'>@client.ClientName</a></li>
      }
      </ol>
    </div>

    <p><a class="whiteLink" href='/stylists/@Model["stylist"].Id/clients/new'>Add a new client here.</a></p>
    <p><a class="whiteLink" href='/stylists'>Return to the List of Stylists</a></p>
    <p><a class="whiteLink" href='/'>Return to the Home Page</a></p>
  </body>
</html>
