@{
  Layout = "_Layout";
}

<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Curl Up and Dye Salon</title>
  </head>

  <body>
    <h1>Curl Up and Dye Hair Salon</h1>
    <h3><a href='/stylists'>View a List of Your Stylists</a></h3>
    <h3><a href='/stylists/new'>Add a New Stylist</a></h3>
  </body>
</html>
