@{
  Layout = "_Layout";
}

<body>
  <h1>ALCHEMY SALON</h1><br>
  <h2><strong>Address:</strong><br>
  5688 N Druid Ave<br></h2>

  <h3>Hours:<br>
  Tuesday - Saturday 11am-7pm</h3>

  <h4><strong>Contact:</strong><br>
  971-555-fire<br>
  contact@alchemysalon.com

  </body>
</html>
