<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="icon" href="../img/airfavicon.png">
  <title>ALCHEMY SALON</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='~/css/styles.css' type="text/css">
</head>
<body>
  <ul id="navbar">
    <li><a href='/'>HOME</a></li>
    <li><a href='/stylists'>OWNER/STYLIST LOGIN</a></li>
    <li><a href="contact.asp">CLIENT LOGIN</a></li>
    <li><a href="/about">ABOUT</a></li>
  </ul>

  @RenderBody()
</body>
</html>
