<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Curl Up and Dye Salon</title>
  </head>
  <body>
    <h1>Add a new client to @Model.Name</h1>

<form action='/stylists/@Model.Id/clients' method='post'>
  <input id='stylistId' name='stylistId' type='hidden' value='@Model.Id'>

  <label for='clientClientName'>Client's </label>
  <input id='clientClientName' name='clientClientName' type='text'>

  <button type='submit'>Add client</button>
</form>

  </body>
</html>
