@{
  Layout = "_Layout";
}

<body>

  <h1>ALCHEMY SALON</h1>
    <h2>Add a new client to <strong>@Model.StylistName</strong></h2>

    <form id="newClient" action='/stylists/@Model.Id/clients' method='post'>
      <input id='stylistId' name='stylistId' type='hidden' value='@Model.Id'>

      <label for='clientClientName'>Client's name</label>
      <input id='clientClientName' name='clientClientName' type='text'>

      <button type='submit'>Add client</button>
    </form>

    <h4><a href="/stylists/@Model.Id/clients/@Model.Id">Return to previous page</a></h4>

  </body>
</html>
