@{
  Layout = "_Layout";
}

  <body>
    <h1>ALCHEMY SALON</h1><br>

    <h2>Stylist:</h2>
    <h3 class="blue">@Model["stylist"].StylistName</h3>
    <h2 class="smallMargin">Client:</h2>
    <h3 class="blue">@Model["client"].ClientName</h3><br>

    <h4 id="blackText" class="smallMargin"><a href='/stylists/@Model["stylist"].Id/clients/@Model["client"].Id/edit'>Edit Client's Name</a>

    <form action='/stylists/@Model["stylist"].Id/clients/@Model["client"].Id/delete' method="post">
    <button id="delete" class="btn btn-dark" type="submit">Delete this Client</button>
    </form>

    <a href='/stylists/@Model["stylist"].Id/clients/new'>Add another Client</a><br>
    <a href='/stylists'>Return to the List of Stylist</a></h4>

  </body>
</html>
