@{
  Layout = "_Layout";
}

<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Curl Up and Dye Salon</title>
  </head>

  <body>
    <h2>@Model["client"].ClientName</h2>
    <h3>Stylist: @Model["stylist"].Name</h3>

    <a href='/stylists/@Model["stylist"].Id/clients/@Model["client"].Id/edit'>Edit Client's Name</a>

    <form action='/stylists/@Model["stylist"].Id/clients/@Model["client"].Id/delete' method="post">
    <button type="submit">Delete this Client</button>
    </form>

    <a href='/stylists/@Model["stylist"].Id/clients/new'>Add another Client</a>
    <a href='/stylists'>Go Back to View all Stylist</a>

  </body>
</html>
